<div class="section-heading">
    <h1>Šta jesti?</h1>
    <p>Meniji restorana u Srbiji, naručite hranu za dostavu brzo i lako.</p>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6 col-centered">
        <div class="col-xs-12 col-sm-6">
            <div class="location-item">
                <a href="#/nis">
                    <img src="images/location/nis.png" class="img-responsive" alt="Niš">
                    <h2>Niš</h2>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="location-item">
                <a href="#/novi-sad">
                    <img src="images/location/novi-sad.png" class="img-responsive" alt="Novi Sad">
                    <h2>Novi Sad</h2>
                </a>
            </div>
        </div>
    </div>
</div>
