<div class="margin-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Meni</h2>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraži" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row gallery-item">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a ng-href="#/meni/dva-puta-dva">
                <img src="images/logo/dva-puta-dva.jpg" class="img-responsive" alt="img">
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a ng-href="#/meni/pink-panter">
                <img src="images/logo/pink-panter.jpg" class="img-responsive" alt="img">
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a ng-href="#/meni/the-regent">
                <img src="images/logo/the-regent.png" class="img-responsive" alt="img">
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a ng-href="#/meni/night-and-day">
                <img src="images/logo/night-and-day.png" class="img-responsive" alt="img">
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a ng-href="#/meni/cezar">
                <img src="images/logo/cezar.png" class="img-responsive" alt="img">
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a ng-href="#/meni/pizza-boss">
                <img src="images/logo/pizza-boss.jpg" class="img-responsive" alt="img">
            </a>
        </div>
    </div>
</div>
