<div class="row gallery-item">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <img src="images/logo/dva-puta-dva.jpg" class="img-responsive" alt="img">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <img src="images/logo/pink-panter.jpg" class="img-responsive" alt="img">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <img src="images/logo/the-regent.png" class="img-responsive" alt="img">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <img src="images/logo/night-and-day.png" class="img-responsive" alt="img">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <img src="images/logo/cezar.png" class="img-responsive" alt="img">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <img src="images/logo/pizza-boss.jpg" class="img-responsive" alt="img">
    </div>
</div>
