<div class="section-heading">
    <h1>{{ restaurant.name }}</h1>
    <div class="divider"></div>
    <img ng-src="{{ restaurant.logo }}" class="img-centered restaurant-logo" alt="{{ restaurant.name }}">
</div>
<slick ng-if="!zoomed" init-onload="true" data="restaurant.images" slides-to-show="4" slides-to-scroll="1" class="slider filtering"
    responsive="[{
        breakpoint: 1024,
        settings: {
            slidesToShow: 3,
            slidesToScroll: 1
        }
    }, {
        breakpoint: 600,
        settings: {
            slidesToShow: 2,
            slidesToScroll: 1
        }
    }, {
        breakpoint: 480,
        settings: {
            slidesToShow: 1,
            slidesToScroll: 1
        }
    }]"
>
    <div ng-repeat="image in restaurant.images">
        <a href="javascript:;" ng-click="zoom($index)">
            <img ng-src="{{ image | thumbnail }}" class="img-responsive" alt="{{ restaurant.name }}">
        </a>
    </div>
</slick>
<div ng-if="zoomed">
    <a ng-click="unzoom()" class="close">&times;</a>
    <br>
    <flex-slider slide="image in restaurant.images">
        <li>
            <img ng-src="{{ image }}" class="img-responsive" alt="{{ restaurant.name }}">
        </li>
    </flex-slider>
</div>
